
body{
    background-image: url("../images/train-rail-5k-gv-1920x1080.jpg");
    background-size: cover;
            text-align: -webkit-left;
            -webkit-background-size: cover;
}
/* .jumbotron{
    background-color: black;
    text-align: center;
    font-display: bold;
    color: white;
     box-shadow: 0px 0px 5px 5px grey;
     margin: 0px 50px 50px 50px;
     opacity: 0.3;
     filter: alpha(opacity=60);
} */
h1{
    margin-top: 61px;
    font-family: 'Lato', sans-serif;
    color: white;
    font-display: bold;
    font-size: 76px;
    text-align: left;
}
h3{
    margin-top: 61px;
    color: white;
    font-display: bold;
    font-size: 44px;
    text-align: left;
}
.display-4{
    color: white;
    font-display: bold;
}
#main-container{
    background-color: white;
    width: 900px;
    height: 550px;
    margin-right: 75px;
    margin-left: 266px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
     
     border-radius: 25px;
    
}
.add{
    background-color: hsl(96, 51%, 87%);
    padding: 20px;
    border-radius: 25px;
    
}
.card-header{
    background-color: hsl(96, 51%, 87%);
    padding: 20px;
    border-radius: 25px;

}
.card{
    
       margin: 10%;
       
    
}
